.App__services {
  .service__container {
    // display: flex;
    min-height: 30rem;
    .service__card {
      margin: 1rem;
      padding: 1rem;
      width: 20rem !important;
      height: 20rem !important;

      h1 {
        color: var(--primary-color);
        font-size: 1.25rem;
        font-weight: 600;
      }
      p {
        margin-top: 0.4rem;
        font-size: 0.8rem;
        color: var(--black-color);
      }
      img {
        width: 14.5rem !important;
        height: 11rem !important;
        scale: 0.8;
      }
    }
  }
}
